{{!--client id shown. remove it to see just name --}}

<h2>Editing {{client.name}} (<small>{{client.id}}</small>)</h2>

{{!--using method override to reach PUT method (or delete) post,get etc works well --}}

<form method="POST" action="/client/{{client.id}}?_method=PUT">

    <label>
        <p>
            E-mail:
        </p>
        <p>
            <input type="email" name="mail" value="{{client.mail}}">
        </p>
    </label>
    <label>
        <p>
            Name:
        </p>
        <p>
            <input type="text" name="name" value="{{client.name}}">
        </p>
    </label>
    <label>
        <p>
            Next contact date:
        </p>
        <p>
            <input type="date" name="nextContactAt" value="{{client.nextContactAt}}">
        </p>
    </label>
    <label>
        <p>
            Notes:
        </p>
        <p>
            <textarea name="notes">{{client.notes}}</textarea>
        </p>
    </label>
    <button type="submit">Save!</button>
</form>
